/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional styles if needed */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.divider-gradient {
    background: linear-gradient(to right, #0cd4e3 , #a13cfc);
    width: 100%;
}
.container{
    width: 100%;
    padding: 0%;
    margin-top: 2%;
}
